.App {
  text-align: center;
}

.specials-board {
  background-color: #282c34;
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(129, 88, 37);
  
  
}

#title {
  font-size: 80px;
  font-family: 'Cabin Sketch', cursive;
  margin-top: 10px;
  margin-bottom: 5px;
}

#sub-title {
  font-family: 'Shadows Into Light Two', cursive;
  margin-top: 0px;
}
